#The one-step analysis and compilation flow is used to support legacy ICE 

veanalyze ../src/Packages.sv ../src/CellProcessor.sv ../src/veloce_top.sv ../src/CellProcessor_int.sv

#Declare top level module 
comp -top veloce_top

#Declare single step compile/analysis flow
comp -single_step

#Solo is D1S
comp -platform D1S

comp -num_boards 1

#ICE Legacy Support enabled
comp -app legacy 

 
